*{margin:0;padding:0}

body,html{font-family: 'Noto Sans JP', sans-serif;
    background: #350a71;
  }
  
  .solid{background:#431b7b !important;color:#000;height:80px; position: fixed;
    top: -30px;width:100%;
}

 .solid .fa-bars{position: relative;top:4px;}
 .solid .lefts{position: relative;top:5px;}
 .solid .navbar-brand {position: relative;top:-15px;width:22px;height:30px;}
 .solid .sign{position: relative;top:4px;}

  .pady{position:relative;top: 78px;
    left: -12px;
 }
  

 select{word-wrap: normal;z-index: 9999;
background-color: transparent;font-weight:700!important;
    color:#fff;
    border: none;border-radius: 20px!important;
}

select:focus{border: none;outline:none;}


h2{text-transform: uppercase;font-weight: 700;font-size: 29px;}
p{font-size:14px!important; font-weight:500;}
  .display-4 {
    font-size: 35px;

    line-height: 1.2;
    margin-top: 171px;
	font-weight:600;    text-transform: uppercase;
	    letter-spacing: 3px;
}


.fund{position: relative;
left: -10px;
}


.active, .btn:hover 
{color:#c8bea5;}


.cloud{margin-top: 145px;}

.main{display:flex;margin-left:40px;}



body,html{overflow-x:hidden;}

.bttn{    margin-top: -19px;
}
  .jumbotron {
    position: relative;
    background:none;z-index:1;
  }
  .jumbotron:after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(images/banner123.jpg);
      background-repeat: no-repeat;
      background-position: center;
    background-size: cover;
      width: 100%;
      height:750px;
     
      z-index: -1;
  }
  		 .iconss { position: relative;
    left: 120px;
    top: -22px;
}

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}
  .nav-item a{color:#fff !important;position:relative!important;top:4px;font-weight:600;}
  .lefts{margin-left:274px;}
  
  

.nav-item a::before{content:"";width:0px ;height:2px ;position:absolute ;background-color:#ffb504 ;left:5px ;top:56px ;transition:all .8s;}

.nav-item a:hover::before {
 width:50px;
}
.golden-btn {
  display: inline-block;
  outline: none;
  white-space: nowrap;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
 font-size: 16px!important;
 height:44px;
    width: 134px;
  line-height: 2.5em;
  border-radius:30px;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: #000;
  font-weight:700!important;
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position:center;
}
.golden-btn:focus,
.golden-btn:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.golden-btn:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}

.pad{padding:0px 170px;}
.tit{    font-weight: 700;
    margin-left:35px;
    font-size: 20px;white-space:pre;
}

.pady{    margin-top: -139px;
    margin-left: 4px;
}

.fle2{display:flex;margin-left:78px;list-style-type:none;font-weight:600;font-size:15px;}

.fle{font-weight:600;font-size:15px}

.mtop{margin-top: 25px;}

.cards{width:380px;height:264px;background-image:url(images/19.png);background-repeat:no-repeat;}
.cicon{padding:25px;    position: relative;
    left: 36px;}

  .bgm{background-image: url(images/20.png);margin-top: 156px;background-size: cover;background-position: center center;height: 871px;}
  .bgs{background-image: url(images/11.png);margin-top: 0px;background-size: cover;background-position: center center;height: 862px;padding: 0!important;}

.bgs-1{background-image: url(images/06.png);margin-top: 0px;background-size: cover;height: 900px;padding: 0!important;background-repeat:no-repeat;background-position:100% 20%;}

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  margin-bottom:60px;
  transform-style: preserve-3d;
  position:relative;top:50%;left:50%;transform:translate(-250%,10%);
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background: #00BCD4 ; width:400px !important;height:500px !important;background-image:url(images/c1.jpg);border:1px solid #fff;}
#slide2 { background: #4CAF50 ;width:400px !important;height:500px !important;background-image:url(images/c2.jpg);border:1px solid #fff;}
#slide3 { background: #CDDC39 ;width:400px !important;height:500px !important;background-image:url(images/c3.jpg);border:1px solid #fff;}
#slide4 { background: #FFC107;width:400px !important; height:500px !important;background-image:url(images/c1.jpg);border:1px solid #fff;}
#slide5 { background: #FF5722 ;width:400px !important;height:500px !important;background-image:url(images/c2.jpg);border:1px solid #fff;}
  
  .social{word-spacing:10px;}
  a{color:#fff;}

  i{color:#fff;}

  .bg-my{background-image:url(images/34.png);width:100%;background-size:cover;}
  
  .left{    position: relative;top: 9px;
  
    left:347px}

    .my-social{position: relative;top:-40px!important;left:546px;word-spacing: 20px;top: -48px; display: flex;
    left: 557px;}

h4{font-weight:600;}
#s1,#s2,#s3,#s4,#s5{position: relative;
  top: 520px;
  left: 170px;}


    @media only screen and (max-width:768px) {


      select {
        word-wrap: normal;
        background-color: transparent;
        font-weight: 700!important;
        color: #fff;
        border: none;
        position: relative;
        top: -40px;
        left: 233px;}
		
		.left {
    position: relative;
    left: 0px;
}

  .fund{    position: relative;
    left: -13px;}


 #s1,#s2,#s3,#s4,#s5{position: relative;
    top: 320px;
    left: 80px;}


.cicon {
    padding: 34px;
    position: relative;
    left: 18px;
    top: -26px;
}

.golden-btn {border-radius:20px!important;
    display: inline-block;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    font-size: 14px!important;height: 50px;
    width: 137px;
}


.tit {
      font-weight: 700;
    margin-left: 155px;
    font-size: 19px;
    /* margin-top: -59px; */
    white-space: pre;
    position: relative;
    top: -112px;

}

.pady{margin-top: -202px;
    margin-left: -22px;
    padding: -8px;
    position: relative;
    left: 20px;
}

.lefts {
    margin-left: 146px;
    /* margin-top: -138px; */
    position: relative;
       top: -86px;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;    font-size: 23px;
    margin-top: 12px;
}

      .cards {
    width: 331px;
    height: 250px;
  
      position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    padding: 20px;
}

        .cas{width:292px; position:relative;    top:-42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
        .cas2{width:292px;position:relative;    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

        .bg-my {
        
            margin-top:297px;
}


.tops{position: relative;
    top: 31px;
}
.bgs {
    background-image: url(images/bgm2.jpg);
    margin-top: 0px;
    background-size: cover;
    background-position: center center;
height:204px;}


        .bgm {
          background-image: url(images/2.jpg);
          margin-top:-20px;
          background-size: cover;
          background-position: center center;
          height:1389px;}

  
		  .my{margin-top: 388px;}
		  .fle{display:block!important;}
		  
		#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    margin-bottom: -120px;
    transform-style: preserve-3d;
    position: relative;
    top: 50%;
    left: 52%;
		transform: translate(-145%,10%);}  
		

		
#slide1 { background: #00BCD4 ; width:250px !important;height:300px !important;background-image:url(images/c1.jpg);border:1px solid #fff;}
#slide2 { background: #4CAF50 ;width:250px !important;height:300px !important;background-image:url(images/c2.jpg);border:1px solid #fff;}
#slide3 { background: #CDDC39 ;width:250px !important;height:300px !important;background-image:url(images/c3.jpg);border:1px solid #fff;}
#slide4 { background: #FFC107;width:250px !important; height:300px !important;background-image:url(images/c1.jpg);border:1px solid #fff;}
#slide5 { background: #FF5722 ;width:250px !important;height:300px !important;background-image:url(images/c2.jpg);border:1px solid #fff;}
  
  
		  
		.display-4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 106px;text-align:center
}  
	.jumbotron:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/newbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: -68px -2px;
    width: 100%;
    height: 500px;
    z-index: -1;
}	  

.copy{ margin-top: -54px;
    font-weight: 600;
    position: relative;
    top: 100px;
    font-size: 12px !important;
    white-space: nowrap;
    margin-left: 16px;

}
		  
		  

		 .navbar-nav .nav-link {
    padding-right: 2px;
    background: #14012f;
    width: 331px;
    padding-left: 19px;
		 height: 38px;} 
		  
		  .lead{font-size:12px;    text-align: center;}
		  
		.iconss {display: flex;
    height: 37px;
    margin-left: -139px;
    margin-top: -35px;
    width: 33px;
   }  
		
		.main{display:block;margin-left:0px;    position: relative;
      top: 2px;}
		
		hr.new1 {
    width: 100%;
    border-top: 1px solid white;
    z-index: 9999!important;
    position: relative!important;
    top: -225px!important;
    left: -210px;
    width: 1550px;
}


hr.new2 {
    width: 100%;
    border-top: 1px solid white;
    z-index: 9999!important;
    margin-left: -68px!important;
    width: 1300px;
    /* margin-top: 60px; */
    position: relative;
    top: 74px;
}


.fle{font-weight: 600;
    font-size: 12px;
    margin-left:2px;
    margin-top: -141px;}
	
	
	.fle2 {
    /* display: flex; */
	display:block;
        margin-left: 180px;
    list-style-type: none;
    font-weight: 600;
    font-size: 12px;
    white-space: nowrap;
    margin-top: -161px;
}



.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    margin-top: -19px;
    white-space: nowrap;
    margin-left: 19px;
}
.social {
    word-spacing: 25px;
    /* margin-top: 14px; */
    position: relative;
    top: 96px;
left: 181px;}

.pad {
    padding: 0px 170px;
margin-top: -47px;}

.bttn {
    margin-top: -19px;
    text-align: center;
}
	
h4 {
    font-weight: 600;
text-align: center;}


p {
    font-size: 14px!important;
    font-weight: 500;
    text-align: center;
}

.read{    position: relative;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
}
	
	.apple{text-align: center;}
	
	.casino{position: relative;
    top: 312px;
}
	
.solid{background:#431b7b !important;color:#000;height: :70px!important; position: fixed;
  top: -30px;width:100%;height:82px;
}

	.fa-bars .solid{position: relative;top:-30px;}


  .solid .navbar-brand {position: relative;top:-5px;width:22px;height:30px;}

  .foot-para{margin-bottom: 57px;}

  .lefts{height: 38px;
    width: 101px; position: relative;
    top: -191px;
    left: 68px;}



    .sign{height:38px;
      width: 101px;     position: relative;
      top: -146px;
      left: -46px;

    }
	
    .fa-bars {
      color: #fff;
      position: relative;
      padding: 0px 31px;
      top: -11px;
      left: -38px;
      font-size: 28px !important;}
	
	
	.navbar-light .navbar-toggler {border:none;}
	
		.navbar-light .navbar-toggler:focus {border:none;outline:none;}
		
		.navbar-light .navbar-toggler-icon {background:none}
		
		hr.new1 {width:100%;
    border-top: 1px solid #aca3a3;
    z-index: 9999!important;
    position: relative;
    top: -295px;
	left:-210px;
	width:1550px;

}


		hr.new2 {width:100%;
    border-top: 1px solid #aca3a3;
    z-index: 9999!important;
   margin-left:-40px;
	width:1300px;
	margin-top:60px;

}

.golden-btn:focus{border:none;outline:none;}


.selector {
  position: relative;
  display: block;
 
}
.selector__toggle {
  display: block;
  background-color: #7090cd;
  padding: 1em;
  color: white;
  text-decoration: none;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.selector__toggle i {
  float: right;
  position: relative;
  top: 0.2em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.open .selector__toggle i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.selector__toggle:hover, .selector__toggle:focus {
  background-color: #8eaeeb;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
}
.selector__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #7090cd;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.open .selector__list {
  display: block;
}
.selector__list li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1em;
  border-top: 1px solid #8eaeeb;
  background-color: #4a5f87;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.selector__list li:hover a, .selector__list li:focus a, .selector__list li.selected a {
  background-color: #56c022;}


  
  
  .tab-style{
		font-size:20px;
		width:50%;
		background-color:#f2f2f2;
		  text-align:center;
		  
		
		}
		.nav-tabs > li > a {
			margin-right: 0px;
			color:#000;
		}
		
		
		
		.group2 { 
			position: relative; 
			margin-top: 16px; 
		}
		
		.btn-block{margin-top:20px;
		margin-bottom:20px;
		font-size:18px;}
		
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {   background-color:#e5ecf4;
		color:#4a89dc;}
		
		.login-shadow{-webkit-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
		-moz-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
		box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
		  z-index:1;
		   
		}
		
		.signup-shadow{-webkit-box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
		-moz-box-shadow: -5px -5px 6px 0px rgba(82,82,82,0.52);
		box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
		  
		}
		
		
		.modal-header{background-color:#e5ecf4;}
		
		.group { 
			position: relative; 
			margin-top: 30px; 
		}
		
		
		.input {
			font-size: 18px;
			padding: 10px 10px 10px 5px;
			-webkit-appearance: none;
			display: block;
			background: none;
			color: #636363;
			width: 100%;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid #757575;
		}
		
		.input:focus { outline: none; }
		
		
		/* Label */
		
		.label {
			color:#cccaca; 
			font-size: 18px;
			font-weight: normal;
			position: absolute;
			pointer-events: none;
			left: -10px;
			top: 10px;
			transition: all 0.2s ease;
		}
		
		
		/* active */
		
		.input:focus ~ .label, .input.used ~ .label {
			top: -20px;
		  transform: scale(.75); left:-15px;
			/* font-size: 14px; */
			color: #4a89dc;
		}
		
		
		/* Underline */
		
		.bar {
			position: relative;
			display: block;
			width: 100%;
		}
		
		.bar:before, .bar:after {
			content: '';
			height: 2px; 
			width: 0;
			bottom: 1px; 
			position: absolute;
			background: #4a89dc; 
			transition: all 0.2s ease;
		}
		
		.bar:before { left: 50%; }
		
		.bar:after { right: 50%; }
		
		
		/* active */
		
		.input:focus ~ .bar:before, .input:focus ~ .bar:after { width: 50%; }
		 ul li{z-index:1!important;}
		
		/* Highlight */
		
		.highlight {
			position: absolute;
			height: 60%; 
			width: 100px; 
			top: 25%; 
			left: 0;
			pointer-events: none;
			opacity: 0.5;
		}
		
		.promo{    margin-left: 21px;
			color: #fff;
			margin-top: 23px;
			position: relative;
			top: 8px;
		}
		
		/* active */
		
		.input:focus ~ .highlight {
			animation: inputHighlighter 0.3s ease;
		}
		
		
		@media  screen and (max-width: 767px) and (min-width: 576px){
		  #myModal{margin-left:20%;
					margin-right:20%;}
		
		  #forgot-password{margin-left:20%;
					margin-right:20%;}
		} 
		
		
		@media screen and (min-width: 768px) {
			
			
	
			#myModal .modal-dialog  {width:500px;     position: absolute;
				top: 50%;
				left: 40%;
				transform: translate(-50%, -50%);}
		  
		  #forgot-password .modal-dialog{width:500px;}
		  
		  .modal-body{padding-left:50px;
					  padding-right:50px;}
		}
		
		
		.modal-body{background-image:url('images/ujj.jpg');
		background-size:cover;
		z-inedx:4;}
		
		em{display:none;}
		
		
		.modal-content{width:600px!important}


		label, input {
			cursor: pointer;
		}
		input {
			margin: 0;
			max-width: 100%;
			height: auto;	
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			color: #1b1b1b;
			vertical-align: middle;
			-webkit-appearance: none;
			   -moz-appearance: none;
					   appearance: none;
			border: .08em solid #4F4F4F;
		}	
		#page {
			max-width: 1200px;
			margin: 0 auto;
		}
		section {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1em;
		}
		@media (max-width: 767px) {
			section {
				grid-template-columns: 1fr;
			} 
		}
		/* End reset for the demo */
		
		.checkbox, .radio {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 1em;
		}
		input[type="checkbox"],
		input[type="radio"] {
			width: 1.25em; height: 1.25em;border: 1px solid #fff;position: relative;
			position: relative;
			top: 6px;
		}	
		input[type="radio"] {	
			border-radius: 50%;
		}
		input[type="checkbox"]:checked,
		input[type="radio"]:checked {
			background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.4 21.5-5.93-5.93-2.01 2.01 7.94 7.94 17.1-17.1-2.01-2.01z' fill='%23fff'/%3E%3C/svg%3E");
			background-size: 80% 80%;
			background-position: center;
			background-repeat: no-repeat;
			background-color: #245884;
			border-color: #245884;
		}


        @media only screen and (max-width: 600px) {
		.carousel-item img {
			height:355px;
		}
        .carousel-control-next-icon, .carousel-control-prev-icon {
			display: inline-block;
			width: 20px;
			display: none;
			height: 20px;}


			.input {
				font-size: 18px;
				padding: 10px 10px 10px 5px;
				-webkit-appearance: none;
				display: block;
				background: none;
				color: #636363;
				width:49%;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid #757575;}


				.modal {
					position: fixed;
					top: 0;
					left: 0;
					z-index: 1050;
					/* width: 28px; */
					display: none;
					width: 100%;
					height: 100%;
					overflow: hidden;
					outline: 0;
					width: 351px;}


					.btn-block {
						margin-top: 20px;
						margin-bottom: 20px;
						font-size: 18px;
						width: 155px;
					}

				.my-log{margin-left: -252px;}	
				.my-sign{    margin-left: -238px;}

				.nav-tabs{    line-height: 2;
					display: contents;}
          input[type="checkbox"], input[type="radio"] {
            width: 1.25em;
            height: 1.25em;
            border: 1px solid #fff;
            position: relative;
            position: relative;
            top: 7px;
        }


        label {
          display: inline-block;
          margin-bottom: .5rem;
          color: #fff!important;}

          active, .btn:hover{color:#e4ca7b!important;}



   

  

  